@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-share-tech);
}

html {
  scroll-behavior: smooth;
}

@media (hover: hover) and (pointer: fine) {
  body {
    cursor: none;
  }

  a, button, [role='button'], summary {
    cursor: none;
  }

  input, textarea {
    cursor: text;
  }
}